<footer id="footer">
    <section class="container">
      <div class="row">
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget_title">Shoutouts</h3>
          <p>To Shaqoverflow, Stackoverphil, and the rest Mud Turtles, except Jake.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget">
          <h3 class="widget_title">Quick Links</h3>
          <ul>
            <li><a href="https://github.com/walsh9/pc-load-letter">View project on github</a></li>
          </ul>
        </div>
      </div>
        <div class="col-md-4">
          <div class="widget">
            <h3 class="widget_title">Built by</h3>
            <ul>
              <li><a href="https://github.com/walsh9">Matt</a></li>
              <li><a href="https://github.com/maggiedbaker">Maggie</a></li>
              <li><a href="https://github.com/dtisdall">David</a></li>
            </ul>
          </div>
        </div>

      </div><!-- End row -->
    </section><!-- End container -->
  </footer>