<section class="container main-content">
<div class="row">
<div class="col-md-12">
<div class="tabs-warp question-tab">
  <ul class="tabs">
    <li class="tab"><a href="#" class="current">All Questions</a></li>
  </ul>
</div>
<%= render partial: 'questions/indexshow', collection: @questions, as: :question %>
</div>

</section>